<!doctype html>
{#<link href="static/css/bootstrap.min.css" rel="stylesheet">#}
{#<link href="static/css/style.css" rel="stylesheet">#}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="static/assets/css/theme.css" rel="stylesheet">

<html>
    <head>
      {% if title %}
      <title>{{ title }} - Universal scan</title>
      {% else %}
      <title>Welcome to Universal scan</title>
      {% endif %}
    </head>
    <body>
        <div>Universal scan tool: <a href="/index">Home</a> <a href="/index2">Graph</a></div>
        <hr>
        {% block content %}{% endblock %}

        <!-- Bootstrap JS -->
        <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/popper/popper.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Boomerang JS -->
    <script src="static/assets/js/theme.js"></script>

    </body>
</html>