{% extends "base.html" %}


{% block content %}

<style>
.form-control{margin-bottom:13px}
</style>




    <div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
       <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>

            {{ form.text(class="form-control form-control-lg class-form", placeholder="paste dscan here -> Ctrl+V ") }}

        </p>


        <p>{{ form.submit(class="btn btn-outline-success my-2 my-sm-0") }}</p>
    </form>
    </div>
    <div class="col">

    </div>
  </div>
</div>





{% endblock %}



