{% extends "base.html" %}


{% block content %}

<style>
.form-control{margin-bottom:13px}
</style>





  <div class="d-flex justify-content-center">

    <div class="col-md-6">
       <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="">

            {{ form.text(class="form-control form-control-lg class-form", placeholder="paste dscan here -> Ctrl+V ") }}
        </div>

           <div class="d-flex justify-content-center">
           <div class="">{{ form.submit(class="btn btn-outline-success my-2 my-sm-0 ") }}</div>
           </div>


           <div class="d-flex justify-content-center">
           <div id="load" class=""></div>
       </div>

    </form>
    </div>
  </div>













{% endblock %}



