


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="static/assets/css/theme.css" rel="stylesheet">
</head>
<body>
    <main class="main">...</main>

    <!-- Bootstrap JS -->


    <!-- FontAwesome 5 -->
    <script src="staticassets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

    <!-- Boomerang JS -->
    <script src="static/assets/js/theme.js"></script>
</body>
</html>

