<html>
<head>

 <script type="text/javascript">
allDiv=2;
function showDv(n){
    for(i=1;allDiv+1>i;i++){
    document.getElementById('d'+i).style.display = 'none';
    }
    document.getElementById('d'+n).style.display = 'block';
  event.preventDefault();
  }

</script>
</head>
<body>

<div id="asdasd"><a href="#" onclick="showDv('1')">Показать1</a>
<div style=" display:none;" id="d1">
1111111111111
</div>

<div id="asda"><a href="#" onclick="showDv('2')">Показать2</a>
<div style=" display:none;" id="d2">

</div>
</div>
 </body>
</html>