{% extends "base.html" %}

{% block content %}

    <div class="row">
    <div class="col-md-1">
        <h3>  In local: <b>{{ total_chars }}</b>
     <button type="button" id="btnCopy" class="btn btn-primary">Copy Link</button></h3>
    </div>
    <div class="col-md-2">

        <h4> Date: {{ scan_date }}</h4>
        <h4> Time: {{ scan_time}}</h4>
        <h4> Time ago: {{ time_delta }}</h4>
    </div>

    <div class="col-md-9"></div>
    </div>
        <div class="line"></div>

    <div class="row justify-content-center">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
                    <div class=""> <h3> Alliances: {{ total_count }} </h3></div>

                    <ul  id="alliances">
                    {% for key, value in total_alliance.items()  %}
                        <li class="margins" data-alliance="{{ key }}">
                        <div class = "row">
                            <div class = "col-md-2">
                            <img src="https://images.evetech.net/alliances/{{ key }}/logo?size=64" class="img_border" alt="{{ value["Name"] }}">
                            </div>

                            <div class="col-md-7">

                                <a href="https://zkillboard.com/alliance/{{ key }}" class="bold_link list-group-item list-group-item-action flex-column align-items-start"> {{ value["Name"] }} </a> <div>{{ value["Ticker"] }}</div></b>
                            </div>
                        <div class="col-md-3">
                    <div class=" mark-large">

                           {{ value["count"] }}
                    </div>


                        </div>
                       </div>

                        </li>
                    {% endfor %}

                    </ul>


				</div>
				<div class="col-md-6">
				  <div class="">	<h3>
						Corporations: {{ total_corps }}
					</h3>
                  </div>
                          <ul id="corps">
                    {% for key, value in total_corp.items()  %}
                        <li class="margins" data-alliance="{{value["ally_uid"] }}">
                        <div class = "row">
                            <div class = "col-md-2">
                            <img src="https://images.evetech.net/corporations/{{ key }}/logo?size=64" class="img_border" alt="{{ value["Name"] }}">
                            </div>

                            <div class="col-md-7">

                                <a href="https://zkillboard.com/corporation/{{ key }}" class="bold_link list-group-item list-group-item-action flex-column align-items-start"> {{ value["Name"] }} </a> <div>{{ value["Ticker"] }}</div></b>
                            </div>
                        <div class="col-md-3 ">
                            <div class="mark-large">
                        {{ value["count"] }}
                            </div>


                        </div>
                       </div>

                        </li>
                    {% endfor %}

                    </ul>


				</div>
			</div>
		</div>
{#		<div class="col-md-4">#}
{#			<div class="card mb-3" style="max-width: 18rem;">#}
{#  <div class="card-header"> <h3>Info:</h3></div>#}
{#  <div class="card-body">#}
{##}
{#    <p class="card-text"><ul>#}
{#                    <li>Queries:{{ total_query }}</li>#}
{#                    <li>Time :{{ current_time }}</li>#}
{#                    <li>Date : {{ current_date }}</li>#}
{##}
{#                </ul>#}
{#      </p>#}
{#  </div>#}
{#</div>#}
{##}
{#		</div>#}
	</div>



{% endblock %}
