{% extends "base.html" %}

{% block content %}
<div>
    <button type="button" class="copyToClipBoardBtn btn btn-secondary " >
  Copy URL
{#    <i class="far fa-copy fa-3x"></i>#}
</button>

    <h4><a href="{{ url }}" class="text-danger" >dscan.stainhub.ru{{ url }}</a></h4>
</div>

    <button anim="ripple">Button</button>

    <div>







</button>





</div>

    <h1>Scan</h1>
    	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<h3>
                        <p> Total alliances: {{ total_count }}</p>
                        <p> Characters in local: {{ total_chars }}</p>
					</h3>
					<table class="table table-dark table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>-= Name =-</th>

                            <th>-= Count =- </th>
                        </tr>
                        </thead>
                        <tbody>
                       {% for key, value in total_alliance.items()  %}
                           <tr>
                               <td>{{ key }}</td>
                           <td> {{ value }}</td>
                           </tr>

                       {% endfor %}


                    </tbody>
					</table>
				</div>
				<div class="col-md-6">
					<h3>
						Total corporations: {{ total_corps }}
					</h3>
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>-= Name =-</th>
                            <th>-= Count =- </th>
                        </tr>
                        </thead>
                        <tbody>
                       {% for key, value in total_corp.items()  %}
                           <tr>
                               <td>{{ key }}</td>
                           <td> {{ value }}</td>
                           </tr>

                       {% endfor %}


                    </tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>
				Here will be dragons.
			</h3>
            	<table class="table table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Query to:</th>
                            <th>Total:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ total_query }}
                       <tr>
                       <td>Time: </td>
                           <td> {{ exec_time }}s </td>
                       </tr>

                    </tbody>
					</table>
		</div>
	</div>



{% endblock %}
