{% extends "base.html" %}

{% block content %}

    <div>
    <a href="{{ url }}" class="text-danger" >dscan.stainhub.ru{{ url }}</a>
     <button type="button" class="copyToClipBoardBtn btn btn-secondary btn2 half-stroke left">Copy URL</button>
    </div>
    <div>


</div>

    <h1>Scan</h1>
    	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<h3>
                        <p> Total alliances: {{ total_count }}</p>
                        <p> Characters in local: {{ total_chars }}</p>
					</h3>

                    <ul id="alliances">
                    {% for key, value in total_alliance.items()  %}
                        <li data-alliance="{{ key }}">
                        <div class = "row">
                            <div class = "col-md-2">
                            <img src="https://images.evetech.net/alliances/{{ key }}/logo?size=64" style="height: 64px; width: 64px;" class="" alt="{{ value["Name"] }}">
                            </div>

                            <div class="col-md-7">

                                <a href="https://zkillboard.com/alliance/{{ key }}"> {{ value["Name"] }} </a> <div>{{ value["Ticker"] }}</div></b>
                            </div>
                        <div class="col-md-3">


                        {{ value["count"] }}
                        </div>
                       </div>

                        </li>
                    {% endfor %}

                    </ul>


				</div>
				<div class="col-md-6">
					<h3>
						Total corporations: {{ total_corps }}
					</h3>
                          <ul id="corps">
                    {% for key, value in total_corp.items()  %}
                        <li data-alliance="{{value["ally_uid"] }}">
                        <div class = "row">
                            <div class = "col-md-2">
                            <img src="https://images.evetech.net/corporations/{{ key }}/logo?size=64" style="height: 64px; width: 64px;" class="" alt="{{ value["Name"] }}">
                            </div>

                            <div class="col-md-7">

                                <a href="https://zkillboard.com/corporation/{{ key }}"> {{ value["Name"] }} </a> <div>{{ value["Ticker"] }}</div></b>
                            </div>
                        <div class="col-md-3">


                        {{ value["count"] }}
                        </div>
                       </div>

                        </li>
                    {% endfor %}

                    </ul>


				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>



				Here will be dragons.
			</h3>
            	<table class="table table-sm table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Query to:</th>
                            <th>Total:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ total_query }}
                       <tr>
                       <td>Time: </td>
                           <td> {{ exec_time }}s </td>
                       </tr>

                    </tbody>
					</table>
		</div>
	</div>



{% endblock %}
